
@font-face { 
	font-family: 'Kanit';
	src: url('fonts/Kanit-BlackItalic.ttf') format('truetype');
}
@font-face { 
	font-family: 'Titillium Web';
	src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face { 
	font-family: 'Titillium Web';
	src: url('fonts/TitilliumWeb-Bold.ttf') format('truetype');
	font-weight: bold;
} 
body {
    background-color:  #333333;
	color: white;
	font-family: 'Titillium Web';
}
/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
}
/*----- Tab Links -----*/
.tab-links{
	border-bottom: 1px solid #b4b8bd;
}
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}
.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}
.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	font-size:1.2em;
	font-weight:600;
	color:white;
	transition:all linear 0.15s;
	text-decoration:none;
}
.tab-links a:hover {
	background:#b4b8bd;
	text-decoration:none;
}
li.active a, li.active a:hover {
	background:#b4b8bd;
	color:  #333333;
	text-decoration:none;
}
/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
}
.tab {
	display:none;
}
.tab.active {
	display:block;
}
.ergebnisLES{
	text-align:right;
}
.slideInput{
    float: right;
}
.slide{
	width: 100%;
}
td{
	padding:0.2em;
}
.radioLogoArt{
    float: right;
}
.tmpLabel {
	font-family: 'Kanit';
}
.space {
	width: 55%;
}
.fullwidth{
	width: 100%;
}